# Composer lock file
/composer.lock

# NPM/Yarn lock file
/package-lock.json
/yarn.lock

# 3rd party libs
/vendor
/node_modules

# Test results
/test-results

# Cache and built files
/.sass-cache
/src/ext/*/build

# Config
/src/config.php
