.activity-summary {
    & + & {
        margin-top: 30px;
    }

    overflow: auto;
    background-color: white;
    border: solid 1px #c0c0c0;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.activity-header {
    padding: 15px;
    overflow: auto;

    h2 {
        margin: 0px;
        padding: 0px;
    }
}

.activity-content {
    border-top: solid 1px #ddd;
    padding: 15px;
    overflow: auto;
}

.commit-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;

    > li {
        display: flex;
        margin: 0px;
        padding: 0px;

        &:nth-child(n+2) {
            margin-top: 8px;
        }
    }

    .commit-message {
        flex: 1;
        margin-right: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .commit-date {
        color: #888;
    }
}
